@font-face {
    font-family: 'Gentium';
    font-weight: 400;
    src: url('../../fonts/Gentium/Gentium-Regular.woff2');
}

.book {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75em;

    background-color: var(--bg-gray3);
    border-radius: 0.5em;
}

.title {
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid var(--text-gray);
}

.comment {
    font-size: 0.9em;
}
