.book {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75em;

    background-color: var(--bg-gray3);
    border-radius: 0.5em;
}

.title {
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid var(--text-gray);
}

.comment {
    font-size: 0.9em;
}
