/* https://fonts.google.com/specimen/Gentium+Plus */
@font-face {
    font-family: 'GentiumPlus';
    font-weight: 400;
    src: url('fonts/GentiumPlus/GentiumPlus-Regular.ttf');
}

textarea {
    font-family: 'GentiumPlus', serif;
    font-size: 3rem;
}

.review {
    font-family: 'GentiumPlus', serif;
    font-size: 2rem;
    margin: 1rem 0;
}

#review::before {
    content: 'Latn: ';
}

#review-cyrl::before {
    content: 'Cyrl: ';
}