/* https://koruri.github.io/ */
@font-face {
    font-family: 'Koruri';
    font-weight: 400;
    src: url('fonts/Koruri/Koruri-Regular.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 700;
    src: url('fonts/Koruri/Koruri-Bold.ttf');
}

/* https://fonts.google.com/noto/specimen/Noto+Sans+JP */
@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf');
}

body {
    font-family: 'Koruri', 'NotoSansJP', sans-serif;
}
