/* https://software.sil.org/gentium/ */
@font-face {
    font-family: 'GentiumPlus';
    font-weight: 400;
    src: url('fonts/GentiumPlus/GentiumPlus-Regular.woff');
}

textarea {
    font-family: 'GentiumPlus', serif;
    font-size: 3rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

.review {
    font-family: 'GentiumPlus', serif;
    font-size: 2rem;
    margin: 1rem 0;
    position: relative;
    padding-left: 2.3em;
}

#review::before {
    content: 'Latn: ';
    position: absolute;
    left: 0;
}

#review-cyrl::before {
    content: 'Cyrl: ';
    position: absolute;
    left: 0;
}
