pre {
    counter-reset: ln;
    position:relative;
}

pre code.code-ln {
    padding-left: 3rem !important;
}

pre code.code-bgn {
    padding-left: 1.75rem !important;
}

.ln::before {
    counter-increment: ln;
    content: counter(ln);
    width: 1rem;
    display: inline-block;
    color: #A0A1A7;
    border-right: 1px solid #A0A1A7;
    padding-right: 0.5rem;
    padding-left: 0.75rem;
    text-align: right;
    background: #F0F0F0;

    position:absolute;
    left:0; 
}

.bgn::before {
    content: "$ ";
    color: #A0A1A7;

    padding-left: 0.75rem;
    background: #F0F0F0;
    position:absolute;
    left:0; 
}
