/* フォント定義 */
/* https://koruri.github.io/ */
@font-face {
    font-family: 'Koruri';
    font-weight: 300;
    src: url('../fonts/Koruri/Koruri-Light.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 400;
    src: url('../fonts/Koruri/Koruri-Regular.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 700;
    src: url('../fonts/Koruri/Koruri-Bold.ttf');
}

/* http://jikasei.me/font/mgenplus/ */
@font-face {
    font-family: 'MgenPlus';
    font-weight: 300;
    src: url('../fonts/Mgen/mgenplus-1p-light.ttf');
}

@font-face {
    font-family: 'MgenPlus';
    font-weight: 400;
    src: url('../fonts/Mgen/mgenplus-1p-regular.ttf');
}

@font-face {
    font-family: 'MgenPlus';
    font-weight: 700;
    src: url('../fonts/Mgen/mgenplus-1p-bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth@87.5&display=swap');


body {
    font-family: 'Koruri', 'MgenPlus', sans-serif;

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

code {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 0.9em;
}

/* 配置 */
body {
    padding: 20px 20px;
}

/* header内 */
header {
    padding: 0px 4px 4px 0px;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

h1 {
    margin: 0px;
}

.card {
    margin: 0px;
}

.icon, .name {
    display: inline;
    vertical-align: middle;
}

.icon {
    width: 48px;
    aspect-ratio: 1;
}

/* body要素 */
.notice {
    position: relative;
    padding-left: 2em;
    padding-right: 0.5rem;
    width: fit-content;
    border-left: 4px solid gray;
    border-bottom: 2px solid gray;
    padding-top: 4px;
    padding-bottom: 4px;
}

.notice::before {
    content: '⚠︎';
    position: absolute;
    left: 0.5em;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 4px 6px;
    border: 1px solid;
}

p.advent-calendar {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 6px 0px;
}

/* 引用要素 */
blockquote.shaded {
    background-color: #f4f4f4;
    padding: 0.75rem 1rem;
}

code {
    background-color: #f0f0f0;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    margin-inline: 0.2rem;
}

pre code {
    /* 上書き */
    background-color: #f4f4f4;
    padding: 0.75rem 1rem;
    border-radius: 0;
    margin-inline: 0;

    color: #383a42;
    display: block;
    overflow-x: auto;
    /* white-space: pre-line; */
}

/* 順序付き見出し */
body {
    counter-reset: h2_c;
}

h2.ordered::before {
    content: counter(h2_c) ".";
    counter-increment: h2_c;
    margin-inline-end: 0.2em;
}

/* footer内 */

footer {
    border-top: 1px solid black;
    margin-top: 32px;
    padding-top: 4px;
}

/* リンク */

a:link {
    text-decoration: none;
    color: #00C;
}

a:visited {
    text-decoration: none;
    color: #609;
}

a:hover {
    text-decoration: underline;
}

header a:link {
    color: black;
}

header a:visited {
    color: black;
}

header a:hover {
    text-decoration: none;
}
