/* https://koruri.github.io/ */
@font-face {
    font-family: 'Koruri';
    font-weight: 300;
    src: url('../fonts/Koruri/Koruri-Light.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 400;
    src: url('../fonts/Koruri/Koruri-Regular.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 700;
    src: url('../fonts/Koruri/Koruri-Bold.ttf');
}

body {
    font-family: 'Koruri', sans-serif;
}
