/* フォント定義 */
/* https://koruri.github.io/ */
@font-face {
    font-family: 'Koruri';
    font-weight: 300;
    src: url('../fonts/Koruri/Koruri-Light.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 400;
    src: url('../fonts/Koruri/Koruri-Regular.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 600;
    src: url('../fonts/Koruri/Koruri-Semibold.ttf');
}

@font-face {
    font-family: 'Koruri';
    font-weight: 700;
    src: url('../fonts/Koruri/Koruri-Bold.ttf');
}

/* http://jikasei.me/font/mgenplus/ */
@font-face {
    font-family: 'MgenPlus';
    font-weight: 300;
    src: url('../fonts/Mgen/mgenplus-1p-light.ttf');
}

@font-face {
    font-family: 'MgenPlus';
    font-weight: 400;
    src: url('../fonts/Mgen/mgenplus-1p-regular.ttf');
}

@font-face {
    font-family: 'MgenPlus';
    font-weight: 700;
    src: url('../fonts/Mgen/mgenplus-1p-bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth@87.5&display=swap');


body {
    font-family: 'Koruri', 'MgenPlus', sans-serif;

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

code {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 0.9em;
}

/* 配置 */
body {
    padding: 10px 20px 20px;
}

/* body要素 */
header {
    font-weight: 700;
    width: fit-content;
    margin: 0 0 0.75rem;
    border-bottom: 2px solid #3648D5;
}

h1 {
    padding: 0px 4px 4px 0px;
    border-bottom: 4px solid black;
    margin: 0;
}

h3 {
    font-size: 1.15em;
    font-weight: 600;
}

.foot-info {
    border-top: 1px solid black;
    margin-top: 2rem;
    padding-top: 0.25rem;
}

.notice {
    position: relative;
    padding-left: 2em;
    padding-right: 0.5rem;
    width: fit-content;
    border-left: 4px solid gray;
    border-bottom: 2px solid gray;
    padding-top: 4px;
    padding-bottom: 4px;
}

.notice::before {
    content: '⚠︎';
    position: absolute;
    left: 0.5em;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 4px 6px;
    border: 1px solid;
}

p.advent-calendar {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 6px 0px;
}

.centerized {
    margin-left: auto;
    margin-right: auto;
}

/* 引用要素 */
blockquote.shaded {
    background-color: #F0F0F0;
    padding: 0.75rem 1rem;
}

code {
    background-color: #F0F0F0;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    margin-inline: 0.2rem;
}

pre code {
    /* 上書き */
    background-color: #F0F0F0;
    padding: 0.75rem 1rem;
    border-radius: 0;
    margin-inline: 0;

    color: #383a42;
    display: block;
    overflow-x: auto;
    /* white-space: pre-line; */
}

/* 順序付き見出し */
body {
    counter-reset: h2_c;
}

h2.ordered::before {
    content: counter(h2_c) ".";
    counter-increment: h2_c;
    margin-inline-end: 0.2em;
}

/* リンク */
a:link {
    text-decoration: none;
    color: #3648D5;
}

a:visited {
    text-decoration: none;
    /* color: #6231AE; */
    color: #3648D5;
}

a:hover {
    text-decoration: underline;
}

a[target="_blank"]::after {
    content: '';
    background-image:  url(newtab.svg);
    width: 0.7em;
    height: 0.7em;
    margin-inline: 0.25em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: super;
}

/* header a:link {
    color: black;
}

header a:visited {
    color: black;
} */

header a:hover {
    text-decoration: none;
}
