@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&family=Noto+Serif+JP:wght@200&display=swap');

#input-container {
    height: 3.5rem;
}

#input {
    font-size: 2rem;
    width: 30rem;
    max-width: 100%;

    font-family: 'Noto Sans JP';
    &.serif {
        font-family: 'Noto Serif JP';
    }
}

#funcs {
    margin-top: 0.8rem;
    
    * {
        font-size: 1.15rem;
        font-family: inherit;
    }

    #font-span {
        margin-right: 1em;
    }

    #buttons {
        display: inline-flex;
        gap: 0.5em;
    }
}

#outputdiv {
    width: 390px;
    max-width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 20%;
    padding: 15px;
    margin-top: 15px;
    background-color: white;

    #outputcanvas {
        width: 360px;
        max-width: 100%;
    }
}
