table {
    border: none;
    border-collapse: collapse;
    margin: auto;
}

td {
    width: 15px;
    height: 15px;
    min-width: 15px;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;

    &:nth-child(2) {
        width: 10px;
        border-top: none;
        border-bottom: none;
    }
}
