table.numerals tr:first-child th {
    width: 3rem;
}

table.v th, td {
    text-align: center;
    width: 32px;
}

table.v td.lengthening {
    background-color: #D6D1FF;
}

table.v td.diphthongization {
    background-color: #D1FFD6;
}

table.v td.elision {
    background-color: #FFDAD5;
}

p.q {
    counter-increment: qm;
    position: relative;
    padding-left: 1.3em;
}

p.q::before {
    content: counter(qm, lower-alpha) ") ";
    font-weight: 700;
    position: absolute;
    left: 0;
}

span.roman-quote {
    margin-inline: 0.25rem;
    font-style: italic;
}
