figure {
    text-align: center;
}

figcaption {
    font-size: small;
}

table, td, th {
    border: none;
    text-align: center;
}

table, td>* {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding-left: 20px;
    padding-right: 20px;
}

tr:nth-child(1) {
    border-bottom: 1px solid black;
}

#numsb td {
    text-align: right;
    padding-inline: 8px;
}

#numsb tr:nth-child(1) {
    border-bottom: 1px solid black;
}

#numsb tr th:nth-child(1) {
    border-right: 1px solid black;
}
