@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&family=Open+Sans&display=swap');

.manju {
    font-family: 'Fu_XM_ZhengBai', 'Noto Sans Mongolian';
}

textarea {
    font-family: 'Gentium Plus', serif;
    font-size: 2rem;
    width: 100%;
    margin-top: 20px;
}

#before-review {
    font-family: 'Koruri', sans-serif;
    padding-bottom: 2px;
    border-bottom: 1px black solid;
    margin-bottom: 0px;
}

#copier {
    font-family: inherit;
    margin-inline-start: 0.75rem;
    vertical-align: 0.1rem;
}

#review-wrapper {
    margin-top: 0px;
    border-bottom: 1px black solid;
}

#review {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    overflow: scroll;
}

.horizontal-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vertical-line {
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    max-height: 400px;
}

.vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

#review-manju {
    font-size: 2rem;
}

th, td {
    text-align: center;

    img {
        vertical-align: middle; height: 2rem;
    }
}
