#todays-library {
    text-align: center;
    padding-block: 0.5rem;
    border-block: 2px solid var(--border-gray);

    & span {
        display: inline-block;
    }
}

section > h2 {
    margin-bottom: 0;
}
