@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

main {
    width: fit-content;
    padding: 1.5em;
    background-color: rgba(255, 252, 249, 0.5);
    border-radius: 1.5em;
}

p {
    margin-bottom: 0;

    word-break: keep-all;
    overflow-wrap: break-word;
}

.bold {
    font-weight: bold;
}

.serif {
    font-family: 'Gentium Plus', 'Noto Serif JP', serif;
}

#quote {
    text-align: center;

    &::before {
        content: '“';
        margin-inline-end: 0.25em;
    }

    &::after {
        content: '”';
        margin-inline-start: 0.25em;
    }
}

hr {
    margin-block: 1em;
    border-width: 0;
    height: 1px;
    background-color: var(--text-black);
}
